* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: #faf4e7;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

.container {
	width: 90%;
	margin: auto;
	padding-top: 75px;
	display: flex;
}

.left-content,
.right-content {
	flex-basis: 50%;
}

.left-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
	grid-gap: 1rem;
}

.card {
	width: 250px;
	height: 144px;
	background-color: #ffffff;
	text-transform: capitalize;
	border-radius: 1rem;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
	padding: 0 1.5rem 1.5rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}

.card h3 {
	padding-bottom: 5rem;
	font-style: italic;
	color: #161718;
}

.card:hover {
	cursor: pointer;
}

.right-content {
	width: 600px;
	height: 100vh;
	overflow-y: scroll;
	scrollbar-width: none;
	color: black;
	text-align: left;
	right: 10px;
	margin-left: 10vw;
}

.right-content::-webkit-scrollbar {
	display: none;
}

.right-content img {
	width: 250px;
	margin-left: 5vw;
}

.right-content h1 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

.abilities {
	width: 66%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 0.25rem;
}

.types {
	width: 66%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.group h3 {
	text-transform: capitalize;
}

.types .group {
	height: 40px;
	text-transform: uppercase;
	width: 200px;
	color: white;
	padding-top: 0.95rem;
	border-radius: 0.5rem;
	font-size: 10px;
	margin: auto 0.25rem auto 0.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.abilities .group {
	color: white;
	height: 40px;
	text-transform: uppercase;
	width: 200px;
	color: white;
	padding-top: 0.95rem;
	font-size: 10px;
	margin: 0.5rem 0.25rem auto 0.25rem;
	border-radius: 8px;
	margin-bottom: 25px;
}

.info-modal {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1rem;
	margin: 1rem;
}